@import './normalize.css';
.Header1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-style: normal;
}

.Header2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
  font-style: normal;
}

.Header3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 8%;
  text-transform: uppercase;
  font-style: normal;
}

.Header4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
  font-style: normal;
}

.Paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  font-style: normal;
}

.slider-caption, .about-text .about-caption, .hero-caption {
  font-family: "Allura", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  font-style: normal;
}

.action-small {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
  text-decoration: none;
  color: #181c29;
  white-space: nowrap;
  font-style: normal;
}

.action-large {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 82px;
}

.gift-container {
  width: 141px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 24px;
  height: 24px;
  background-image: url("../../../src/img/logo/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.gift-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #181c29;
  display: inline-flex;
  align-items: center;
  margin-top: 3px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-nav-cont {
  display: flex;
  gap: 35px;
}

.header-item {
  width: 88px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header-item:hover {
  background: rgba(255, 70, 70, 0.1);
  color: #ff4646;
}
.header-item .header-link {
  text-decoration: none;
  border: none;
}
.header-item .header-link:hover {
  color: #ff4646;
}

.header-nav-active {
  opacity: 1;
  pointer-events: all;
  transition: all 0.4s ease-in-out;
}

.link-item {
  text-transform: uppercase;
  color: #181c29;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: 0.5s ease-in-out;
}

.button {
  margin: 0 0 15px 0;
}

.btn {
  background-color: #181c29;
  color: #ffffff;
  padding: 20px 32px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.5px;
  cursor: pointer;
  z-index: 3;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
  background-color: #ffffff;
}
.btn:hover .link {
  color: #181c29;
}

.link {
  color: #ffffff;
  transition: color 0.3s ease;
}

.container {
  margin: auto;
  max-width: 1440px;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.hero-section {
  background-color: #ff4646;
  position: relative;
  min-height: 524px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px 20px 0 0;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("../../../src/img/hero/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.hero-section::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("../../../src/img/hero/bg-ball.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 426px;
  height: 404px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 12px;
  z-index: 4;
}

.hero-caption {
  color: #ffffff;
}

.hero-action {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  font-style: normal;
}

.about-section {
  background-image: url("../../../src/img/hero/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ff4646;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0 auto;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 628px;
  height: 528px;
}

.about-text {
  width: 426px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-text .about-caption {
  color: #ff4646;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 628px;
  height: 528px;
  background-image: url("../../../src/img/about/santa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slider-section {
  padding: 80px 0px;
  background-image: url("../../../src/img/hero/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ff4646;
}

.slider-t {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.slider-text {
  margin-bottom: 20px;
  color: #ffffff;
}

.slider-caption {
  color: #ffffff;
}

.slider-content {
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.slider-gallery {
  max-width: 1260px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 6%;
  gap: 0 25px;
  transition: transform 0.5s ease-in-out;
}

.gallery-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 25px;
}

.gallery-title {
  font-family: "Montserrat";
  font-size: 8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.gallery-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.slider-controls {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 5.5%;
}

.control-btn {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid hsla(195, 56%, 62%, 0.6);
  border-radius: 20px;
  color: hsla(195, 56%, 62%, 0.6);
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.control-btn:hover {
  background-color: hsla(180, 13%, 92%, 0.951);
}

.best-gifts-section {
  padding: 80px 0;
  background-image: url("../../../src/img/hero/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ff4646;
}

.best-gifts-content {
  max-width: 1276px;
  height: 342px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
}

.card {
  background-color: #ecf3f8;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .card-img {
  width: 310px;
  height: 230px;
  border-radius: 50%;
}
.card .card-text {
  width: 310px;
  height: 230px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: 0 20px;
  box-sizing: border-box;
}
.card .card-text.work h4 {
  color: #4361ff;
}
.card .card-text.health h4 {
  color: #06a44f;
}
.card .card-text.harmony h4 {
  color: #ff43f7;
}

.card-text h3 {
  height: 40px;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.f-section {
  padding: 80px 0;
  background-image: url("../../../src/img/cta/for.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ff4646;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-section .f-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1276px;
  height: 548px;
  text-align: center;
  position: relative;
  color: white;
  background-image: url("../../../src/img/hero/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.f-section .f-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 426px;
  height: 428px;
}
.f-section .f-text .hero-caption {
  font-size: 20px;
  color: #ffe6e6;
  font-style: italic;
}
.f-section .countdown {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  border-radius: 25px;
}
.f-section .countdown .countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  color: #ff4646;
}
.f-section .countdown .countdown-item .number {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}
.f-section .countdown .countdown-item .label {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
