@use '../utils/var' as *;
@use '../utils/mixins' as *;
@use '../base/typography';

.about-section {
	background-image: url('../../../src/img/hero/bg-snow.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $color-primary;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	margin: 0 auto;
}

.about-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $color-static-white;
	border-radius: 20px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.text-container {
	@include center-content;
	width: 628px;
	height: 528px;
}

.about-text {
	width: 426px;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.about-caption {
		@extend %caption;
		color: $color-primary;
	}
}

.about-image {
	@include center-content;
	flex: 1;
	width: 628px;
	height: 528px;
	background-image: url('../../../src/img/about/santa.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
