@use '../utils/var' as *;
@use '../utils/mixins' as *;
@use '../base/typography';

.about-section {
	background-image: url('../../../src/img/hero/bg-snow.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $color-primary;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	@media screen and (max-width: 768px) {
		padding: 10px;
	}
}

.about-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $color-static-white;
	border-radius: 20px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 1276px;

	@media screen and (max-width: 768px) {
		flex-direction: row;
		gap: 20px;
		overflow-x: auto;
	}
}

.text-container {
	@include center-content;
	width: 50%;
	height: 528px;

	@media screen and (max-width: 768px) {
		width: 30%;
		height: auto;
		text-align: start;
		padding: 40px;
	}
}

.about-text {
	width: 426px;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.about-caption {
		@extend %caption;
		color: $color-primary;
	}
}

.about-image {
	@include center-content;
	flex: 1;
	width: 638px;
	height: auto;
	min-height: 528px;
	background-image: url('../../../src/img/about/santa.png');
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;

	@media screen and (max-width: 768px) {
		width: 50%;
		height: auto;
	}
}
