@use '../base/_typography.scss';
@use '../utils/var' as *;

.best-gifts-section {
	padding: 80px 0;
	background-image: url('../../../src/img/hero/bg-snow.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $color-primary;
	padding: 65px;
	@media screen and (max-width: 380px) {
		padding: 40px 40px;
	}
}

.best-gifts-content {
	max-width: 1276px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	transition: transform 0.5s ease-in-out;
	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: center;
	}
	@media screen and (max-width: 380px) {
		flex-direction: column;
		width: 100%;
		padding: 0;
	}
}

.card {
	background-color: $color-content-footer;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	.card-img {
		width: 310px;
		height: 230px;
		border-radius: 50%;
	}

	.card-text {
		width: 310px;
		height: 130px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		background-color: $color-static-white;
		padding: 0 20px;
		box-sizing: border-box;

		&.work h4 {
			color: $color-work;
		}

		&.health h4 {
			color: $color-health;
		}

		&.harmony h4 {
			color: $color-harmony;
		}
	}
}

.card-text h3 {
	height: 40px;
	overflow-wrap: break-word;
	line-height: 1.2;
}
