@use '../base/_typography.scss';
@use '../utils/var' as *;

.gifts-section {
	padding: 80px 0;
	background-image: url('../../src/img/best-gifts/bg-garland.png');
	background-repeat: no-repeat;
	background-color: $color-primary;
	@media (max-width: 768px) {
		padding: 60px 0;
		background-size: 100%;
	}
	@media (max-width: 380px) {
		padding: 40px 0;
	}
}

.health-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	@media (max-width: 380px) {
		flex-direction: column;
	}
}

.health-block-header {
	width: 226px;
	padding: 20px;
	color: $color-static-white;
	text-align: center;
	@media (max-width: 380px) {
		width: 100%;
		padding: 15px;
	}
}

.gifts-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	justify-items: center;
	max-width: 1276px;
	margin: 0 auto;
	overflow: hidden;
	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
		transition: transform 0.5s ease-in-out;
	}
	@media (max-width: 380px) {
		grid-template-columns: 1fr;
		gap: 15px;
		padding: 0 10px;
	}
}

.card-gifts {
	width: 310px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: $color-content-footer;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	@media (max-width: 768px) {
		width: 100%;
		max-width: 310px;
	}

	.card-gifts-img {
		width: 310px;
		height: 230px;
		border-radius: 50%;
	}

	.card-gifts-text {
		width: 310px;
		height: 112px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		background-color: $color-static-white;
		padding: 0 20px;
		box-sizing: border-box;

		&.work h4 {
			color: $color-work;
		}

		&.health h4 {
			color: $color-health;
		}

		&.harmony h4 {
			color: $color-harmony;
		}
	}
}
.filter-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px 0;
}

.filter-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: transparent;
	color: $color-static-white;
	text-align: center;
	text-decoration: none;
	border-radius: 12px;
	transition: color 0.3s ease, transform 0.3s ease;
	cursor: pointer;
}

.filter-button:hover {
	background-color: $color-static-white-20;
	transform: scale(1.05);
}
