@use '../base/_typography.scss';
@use '../utils/var' as *;

.hero-section {
	background-color: $color-primary;
	position: relative;
	background-position: center;
	min-height: 524px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	width: 426px;
	height: 404px;
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 12px;
	z-index: 3;
}

.hero-caption {
	@extend %caption;
	color: white;
}

.hero-action {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	text-decoration: none;
	color: $color-static-white;
	white-space: nowrap;
	font-style: normal;
}

.bg-snow,
.bg-ball {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bg-snow {
	z-index: 1;
}

.bg-ball {
	z-index: 2;
}
