@use '../base/_typography.scss';
@use '../utils/var' as *;

.slider-section {
	padding: 80px 0px;
	background-image: url('../../../src/img/hero/bg-snow.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $color-primary;
	@media screen and (max-width: 768px) {
		padding: 40px 20px;
	}
	@media screen and (max-width: 380px) {
		padding: 30px 15px;
	}
}

.slider-t {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: 10px;
	@media screen and (max-width: 380px) {
		gap: 5px;
	}
}

.slider-text {
	margin-bottom: 20px;
	color: $color-static-white;
}

.slider-caption {
	@extend %caption;
	color: $color-static-white;
}

.slider-content {
	overflow: hidden;
	transition: transform 0.5s ease-in-out;
	@media screen and (max-width: 768px) {
		padding: 0;
	}
	@media screen and (max-width: 380px) {
		padding: 0 5px;
	}
}

.slider-gallery {
	max-width: 1260px;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	padding: 0 0 0 6%;
	gap: 0 25px;
	transition: transform 0.5s ease-in-out;
	@media screen and (max-width: 768px) {
		flex-direction: row;
		gap: 15px;
		padding: 0px;
	}
}
.gallery-item {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	gap: 25px;
	@media screen and (max-width: 768px) {
		gap: 10px;
	}
}

.gallery-title {
	font-family: 'Montserrat';
	font-size: 8rem;
	font-weight: 600;
	text-transform: uppercase;
	color: $color-static-white;
}

.gallery-img {
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

.slider-controls {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	padding-right: 5.5%;
	@media screen and (max-width: 768px) {
		padding: 0px;
	}
}

.control-btn {
	width: 56px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid hsla(195, 56%, 62%, 0.6);
	border-radius: 20px;
	color: hsla(195, 56%, 62%, 0.6);
	font-size: 3rem;
	font-weight: 600;
	cursor: pointer;
	transition: 0.5s ease-in-out;

	&:hover {
		background-color: hsla(180, 13%, 92%, 0.951);
	}
}
