@use '../utils/var' as *;
@use '../base/typography';

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $color-static-white;
	padding: 40px 20px;
	text-align: center;

	.footer-contacts {
		width: 1276px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;

		.footer-contact {
			width: 417px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 20px;
			background-color: $color-content-footer;
			border-radius: 10px;
			text-align: center;
			transition: background-color 0.3s ease;

			.footer-icon {
				display: block;
				width: 80px;
				height: 80px;
				margin-bottom: 10px;
				object-fit: contain;
			}

			p {
				margin: 10px 0;
			}
		}
	}

	.footer-social {
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.footer-caption {
		@extend %caption;
		color: $color-dark;
		margin-top: 10px;
	}
}
