@use '../base/_typography.scss';
@use '../utils/var' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-content-background;
	padding: 12px 82px;
}

.gift-container {
	width: 141px;
	height: 40px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo {
	width: 24px;
	height: 24px;
	background-image: url('../../../src/img/logo/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.gift-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	color: $color-dark;
	display: inline-flex;
	align-items: center;
	margin-top: 3px;
}

.header-nav {
	display: flex;
	align-items: center;
	gap: 28px;
}

.header-nav-cont {
	display: flex;
	gap: 35px;
}

.header-item {
	width: 88px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;

	&:hover {
		background: rgba(255, 70, 70, 0.1);
		color: $color-primary;
	}

	.header-link {
		text-decoration: none;
		border: none;

		&:hover {
			color: $color-primary;
		}
	}
}

.header-nav-active {
	opacity: 1;
	pointer-events: all;
	transition: all 0.4s ease-in-out;
}

.link-item {
	text-transform: uppercase;
	color: $color-dark;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	line-height: 130%;
	font-weight: 600;
	letter-spacing: 0.1rem;
	transition: 0.5s ease-in-out;
}
