@use '../base/_typography.scss';
@use '../utils/var' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-content-background;
	padding: 12px 82px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.the__gifts {
	width: 141px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-nav {
	display: flex;
	align-items: center;
	gap: 28px;
}

.header__item {
	width: 88px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;

	&:hover {
		background: rgba(255, 70, 70, 0.1);
		color: $color-primary;
	}

	.header__link {
		text-decoration: none;
		border: none;

		&:hover {
			color: $color-primary;
		}
	}
}
